node_modules
.next
.turbo
out
build
dist
coverage

# env
.env
.env.local
.env*.local

# firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
.emulator-data
*-debug.log

# editors
.vscode
.idea
*.swp
.DS_Store
Thumbs.db

# functions
functions/lib
functions/node_modules

# typescript
*.tsbuildinfo
next-env.d.ts
